[
  {
    "user_id": "admin",
    "full_name": "System Administrator",
    "email": "admin@company.com",
    "roles": [
      "admin"
    ],
    "active": true,
    "password_hash": "$2b$12$LQxBhJlGrVIopGaBE08dh.GDef10eK/nU2PF4xXhxibj9ggR7XPye",
    "must_set_password": false
  },
  {
    "user_id": "fi_user",
    "full_name": "Finance Analyst",
    "email": "finance@company.com",
    "roles": [
      "fi_co_analyst"
    ],
    "active": true,
    "password_hash": "$2b$12$UFlBUwnF0y.sKkoPame3AuyJveVghctXc2OPQ1xsLcfcU2hNCj6vi",
    "must_set_password": false
  },
  {
    "user_id": "hr_user",
    "full_name": "HR Manager",
    "email": "hr@company.com",
    "roles": [
      "hr_manager"
    ],
    "active": true,
    "password_hash": "$2b$12$6KlFqMOhjzy9F/NalnQbs.MH6lGPoqzp3CSL3WARVbRwyyQAxYice",
    "must_set_password": false
  },
  {
    "user_id": "demo",
    "full_name": "Demo User",
    "email": "demo@company.com",
    "roles": [
      "read_only"
    ],
    "active": true,
    "password_hash": "$2b$12$8hI2np0FSq2PoAWuy2XZqONml7Rgt4oD8eNxrKN8j54fc2AjYHLXK",
    "must_set_password": false
  }
]
